* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-left: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  margin-left: 10px;
  background-color: #ffb703;
}